<%-include('main.ejs')%>
<header class="header grid-setting-1">
  <div class="header-box pad-1r flexer logo-box-container">
    <div class="logo-box flexer">
      <a href="/" class="flexer gap-1r logo-text"><img src="/images/favicon.png" alt="logo" class="header-logo">mochicove</a>
    </div>
  </div>
  <div class="header-box pad-1r flexer">
    
  </div>
  <div class="header-box pad-1r flexer right-box">
    <h1 class="flexer gap-p5r right-box-desc"><i class="fa-brands fa-slack"></i> System Management</h1>
  </div>
</header>