<%-include('partials/main.ejs')%>
<div class="main-content-container flexer pad-1r">
  <div class="page-container flexer pad-2r border-r20px res-width">
    <div class="container pad-1r flexer gap-1r res-column res-width res-pad">
      <div class="box flexer-column pad-2r res-width res-pad-sides">
        <img src="/images/favicon.png" alt="Page-logo" class="page-logo">
        <h1 class="page-title">mochicove</h1>
        <p class="page-description">A User Management Platform</p>
      </div>
      <div class="box flexer-column page-container-dark pad-2r border-r15px res-width">
        <h1 class="header-text">Quick Actions</h1>
        <a href="/view-users" class="button flexer pad-1r border-r10px independent">View users</a>
        <a href="/create-user" class="button flexer pad-1r border-r10px">Create user</a>
      </div>
    </div>
  </div>
</div>