<title>Mochicove - view users</title>
<%-include('partials/main.ejs')%>
<div class="main-content-container body-content">
  <div class="sidebar pad-2r">
    <div class="logo-box flexer">
      <a href="/" class="sidebar-logo flexer gap-p5r"><i class="fa-brands fa-slack"></i> mochicove</a>
      <i class="bi bi-box-arrow-left sidebar-exit"></i>
    </div>
  </div>
  <div class="main-content flexer-column">

  </div>
</div>